#petCardContainer {
    background-color: #fff0f0;
    color: #853834;
    border: 1px solid #8b0000;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    margin: 20px;
    max-width: 350px;
    vertical-align: top;
    justify-content: space-between;
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-wrap: wrap;
  
    max-width: 860px; /* Set the maximum width */
  }
  
  #petCardContainer .card {
    width: 100%; /* Each card takes the full width initially */
    margin-bottom: 20px; /* Adjust as needed for spacing between cards */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  #petCardContainer img {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 45px;
  }
  
  #petCardContainer h2 {
    font-family: "Lato:300,400,700";
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #8b0000;
  }
  
  #petCardContainer h3 {
    font-family: "Lora";
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #8b0000;
  }
  
  #petCardContainer p {
    color: #853834;
    font-family: "Lora";
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  
  #petCardContainer:hover {
    transform: translateY(-5px);
    transition: all 0.35s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Change this to "flex-start" to arrange cards in a row */
    align-items: flex-start;
  }
  .card:hover {
    transform: translateY(-5px);
    transition: all 0.35s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 576px) {
    #petCardContainer .card {
      width: calc(50% - 10px); /* Two cards per row with a bit of spacing */
    }
  }
  
  
  
  
  
  
  /*css*/
  
  .tab_box{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      /*border-bottom: 2px solid rgba(229, 229, 229);*/
      position: relative;
  }
  .tab_box .tab_btn{
      font-size: 18px;
      font-weight: 490;
      color: #ffffff;
      background: none;
      border: none;
      padding: 8px;
      cursor: pointer;
  }
  
  .tab_box .tab_btn.active{
      color: goldenrod;
  }
  
  .content_box{
      padding: 20px;
  }
  
  .content_box .content{
      display: none;
      animation: moving .5s ease;
  }
  
  @keyframes moving{
      from{transform: translateX(50px);opacity: 0;}
      to{transform: translateX(0px);opacity: 1;}
  }
  
  .content_box .content.active{
      display: block;
  }
  
  .content_box .content h2{
      margin-bottom: 10px;
  }
  
  .line{
      position: absolute;
      top: 40px;
      left: 70px;
      width: 140px;
      height: 5px;
      background-color: goldenrod;
      border-radius: 10px;
      transition: all .3s ease-in-out;
  }
  
  #petCardContainer1 {
    background-color: #fff0f0;
    color: #853834;
    border: 1px solid #8b0000;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    margin: 20px;
    max-width: 350px;
    vertical-align: top;
    justify-content: space-between;
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-wrap: wrap;
  
    max-width: 860px; /* Set the maximum width */
  }
  
  #petCardContainer1 .card {
    width: 100%; /* Each card takes the full width initially */
    margin-bottom: 20px; /* Adjust as needed for spacing between cards */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  #petCardContainer1 img {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 45px;
  }
  
  #petCardContainer1 h2 {
    font-family: "Lato:300,400,700";
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #8b0000;
  }
  
  #petCardContainer1 h3 {
    font-family: "Lora";
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #8b0000;
  }
  
  #petCardContainer1 p {
    color: #853834;
    font-family: "Lora";
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  
  #petCardContainer:hover {
    transform: translateY(-5px);
    transition: all 0.35s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 576px) {
    #petCardContainer1 .card {
      width: calc(50% - 10px); /* Two cards per row with a bit of spacing */
    }
  }
  